<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>

  <body>
    <!-- topicc heading -->
    <h1>Road Map</h1>

    <!-- paragraph -->
    <p>
      We are glad to say you are in correct place
    </p>
    <!-- <br> -->
    <p>
      choice is yours to choose one path and work on it
      continuetion take to you high
    </p>

    <!-- order Lists -->
    <ol>

      <li>  
        <h1>Commenting</h1>
        <p>comentingis one of te paragraph wich can include various task</p>
      </li>
      <li>
        <h1>invest in productive tool</h1>
        <p>productive tool means you can save your time increase your productivity</p>
      </li>
      <li>
        <h1>alwas be curious</h1>
        <p>a front end develop</p>
      </li>
      <li>
        <h1>Commenting</h1>
        <p>comentingis one of te paragraph wich can include various task</p>
      </li>
      <li>
        <h1>Commenting</h1>
        <p>comentingis one of te paragraph wich can include various task</p>
      </li>

    </ol>
  </body>
</html>