<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Learn Lists</title>
    </head>
    <body>
        <!-- add paragraph -->
        <p>
            a frontend developer has to keep himself/herself usdatefd continues
            with latest news and innovation in the field. you need to take a proactive stand and learn new things about front end
        </p>
        <!-- unorder list -->
        <ul type="circle">
            <!-- list element -->
            <li>Front end</li>
            <li>Backend</li>
            <li>Python Developer</li>
            <li>Java Developer</li>
        </ul>
        <!-- order list -->
        <ol type="A">
            <li>step 1</li>
            <li>step 2</li>
            <li>step 3</li>
        </ol>

        <ol  start="10">
            <li>step 1</li>
            <li>step 2</li>
            <li>step 3</li>
        </ol>
    </body>
</html>